<!DOCTYPE html>
<html>
    <head>
        <title>TLGC</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    </head>
    <body>
        
        <h4 class="text-center mb-5">List of all forks of user: {{ data.fork_username }} and repo: {{ data.fork_repo }}</h4> 
        <div class="page-content page-container mt-0" id="page-content">
            <div class="padding">
                <div class="row">
                    <div class="col-12">
                        <div class="list list-row block">
                            <inout type="/hidden" value="hi there"></inout>
                            {% for fork in data.forks %}
                                <form action="follow" method="post">
                                    <div class="list-item" data-id="19">
                                        <div><a href="#" data-abc="true"></a><span class="w-48 avatar gd-warning">{{ fork.owner.login[0] }}</span></a></div>
                                        <div class="flex"> <a href="#" class="item-author text-color name" data-abc="true">{{ fork.owner.login }}</a>
                                            <div class="item-except text-muted text-sm h-1x">A user who forked {{ data.fork_repo }} repo from of user {{ data.fork_username }} </div>
                                        </div>
                                        <input type="hidden" name="username" value='{{ fork.owner.login}}'>
                                        <button type="submit" class="btn btn-dark text-light follow align-right">+ follow</button>
                                    </div>
                                </form>
                            {% endfor %}
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

        <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    </body>
</html>
